<!doctype html>
<html>

<head>
    <title>New post</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="container">
        <h4>Create a new blog post!</h4>
        {{#if flash}}
        <div class="text-danger">{{flash}}</div>
        {{/if}}
        <form class="form" method="POST" action="/posts/{{post.id}}/edit">
            <input type="hidden" name="id" id="id" value="{{post.id}}" />
            <input type="hidden" name="published" id="published" value="false" />
            <div class="form-group">
                <label for="title">
                    Title
                </label>
                <input name="title" id="title" value="{{post.title}}" placeholder="Title" class="form-control" />
            </div>
            <div class="form-group">
                <label for="body">
                    Body
                </label>
                <textarea name="body" id="body" placeholder="Contents go here ..." class="form-control">{{post.body}}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</body>

</html>